@import '../../shared/styles/login-signup-form.scss';

:host {
  width: 30vw;
  height: 66vh;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 1vw;
  padding: 1vw;
}

.form__login {
  width: 35% !important;
  text-align: center;
  margin-right: auto;
}

.form__signup {
  width: 65% !important;
  text-align: center;
}
