<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'side'"
      [opened]="false">
    <mat-toolbar class="sidenav-toolbar">
      WR
    </mat-toolbar>
    <mat-nav-list>
      <a (click)="mainSelected()" mat-list-item href="#">Main</a>
      <a (click)="aboutSelected()"  mat-list-item href="#">About</a>
      <a mat-list-item href="#">Contacts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        WOLKEN REITER
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
