<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'side'"
      [opened]="false">
    <mat-toolbar class="sidenav-toolbar">
      WR
    </mat-toolbar>
    <mat-nav-list>
      <a (click)="mainSelected()" mat-list-item href="#">Main</a>
      <a (click)="aboutSelected()"  mat-list-item href="#">About</a>
      <a mat-list-item href="#">Contacts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav__content">
    <mat-toolbar class="sidenav__toolbar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="sidenav-toolbar__title">
        WOLKEN REITER
      </div>
      <button title="Check your e-mail" (click)="openDialog()" *ngIf="authorized && !verified" class="mr-1" mat-icon-button class="sidenav__login-link">
        <mat-icon class="sidenav__login-icon c-gold"> mail_outline</mat-icon>
      </button>
      <span title="Your name" class="mr-1" *ngIf="name">{{ name }}</span>
      <span title="Your surname" class="mr-1" *ngIf="surname">{{ surname }}</span>
      <a *ngIf="!authorized" routerLink="/login" mat-icon-button class="sidenav__login-link">
        <mat-icon class="sidenav__login-icon">perm_identity</mat-icon>
      </a>
      <button title="Log out" (click)="authService.logout()" *ngIf="authorized" mat-icon-button class="sidenav__login-link">
        <mat-icon class="sidenav__login-icon">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content" [@routeChangeAnimation]="getRouteAnimationState(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <footer class="footer">
      <span class="footer__copyright">© Wolken Reiter</span>
      <div *ngIf="!isPermissionConfirmed" class="footer__permission">
        <span>By staying on the site you confirm permission to use your personal data</span>
        <button (click)="isPermissionConfirmed = true" color="primary" mat-flat-button>ok</button>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
