.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  max-height: 100%;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 1.5vw;
  cursor: pointer;
  &:hover {
    border-radius: .5vw;
  }
}

.transition-border {
  transition: border-radius .3s ease;
}

.sidenav__content {
  background-image: url(../../../assets/images/back-ground/2.jpg);
  background-size: cover;
}

.sidenav {
  background: linear-gradient(to bottom right, #1D1A1A, #51514E);
  .sidenav-toolbar {
    color: #666
  }
  a {
    color: white;
  }
}

.sidenav__toolbar {
  display: flex;
  .sidenav-toolbar__title {
    margin-right: auto;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.mat-drawer-content {
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}

.sidenav__login-link {
  display: flex;
  align-items: center;
}

.footer__copyright {
  width: 100%;
  line-height: 36px;
}

.footer__permission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 73, 118, 0.5);
  border-radius: 1vw;
  width: 100%;
  font-size: 1.1vw;
  margin-right: 5vw;
  span {
    margin-right: 1vw;
  }
  button {
    font-size: 1.1vw;
  }
}
