.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #f2f2f2;
}

mat-label {
  color: #f2f2f2;
}

.form {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.5vh;
  flex-direction: column;
  justify-content: space-evenly;
  .form__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    top: -3vw;
    right: -3vw;
    background-color: rgba(191, 71, 71, .5);
    &:hover {
      background-color: rgba(191, 71, 71, .7);
    }
    .form__close-icon {
      font-size: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .form__field {
    width: 100%;
    height: 5vh;
    margin-bottom: 1vh;
  }
  .form__buttons {
    display: flex;
    flex-wrap: wrap;
    & > * {
      margin-bottom: 1vh;
    }
    .form__login {
      width: 65%;
    }
    .form__signup {
      width: 35%;
      text-align: center;
    }
    .form__submit {
      width: 100%;
    }
  }
}

.form__list {
  margin-bottom: 2vh;
}

.form__item {
  margin-bottom: .5vh;
}

.country {
  width: 29%;
  height: 5vh;
  margin-bottom: 1vh;
  margin-right: 1%;
}

.code {
  width: 19%;
  height: 5vh;
  margin-bottom: 1vh;
  margin-right: 1%;
}

.phone {
  width: 50%;
  height: 5vh;
  margin-bottom: 1vh;
}

.phone-values {
  margin-right: 1vw;
}
