/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.mat-drawer-container {
  color: white !important;
}

mt-1 {
  margin-top: 1vw;
}

mt-2 {
  margin-top: 2vw;
}

mb-1 {
  margin-bottom: 1vw;
}

mb-2 {
  margin-bottom: 2vw;
}

mr-1 {
  margin-right: 1vw;
}

mr-2 {
  margin-right: 2vw;
}
ml-1 {
  margin-left: 1vw;
}

ml-2 {
  margin-left: 2vw;
}
